/* Estilo para toda la web */
*{
    margin: 0; /* quitar margenes por defecto */
    padding: 0; /* quitar rellenos por defecto */
}

/* estilo header */

.header{
    background: #111827;/* color de fondo en hexadecimal */
    color: rgb(247, 243, 243);/* color letra */
    padding: 16px 24px;/* espacio interno */
    display: flex;/* logo y menu en fila */
    align-items: center;/* elementos en fila */
    justify-content: space-between;/* separa izq y dere */
}

/* estilo titulo web */
.nombre{
    font-size: 22px; /* tamaño pixeles */
}

/* Enlacees del menu */
.nav-link{
    color:rgb(97, 107, 158);
    text-decoration: none;
    margin-left: 12px;/* espacio entre links */
    opacity: 0.85;/* color un poco mas suave */

}
.nav-link:hover{
    opacity: 1;
    text-decoration: underline;
    color:aqua;
    background-color: rgb(43, 43, 124);
    border-radius: 7px;
}
